* {
    border: none;
    border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 17px;
    min-height: 10px;

    margin: 0px
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {

    transition: none;
    color: transparent;
    background: transparent;
}

#network {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 18px;
    margin-bottom: 0px;

    transition: none;
    color: #161320;
    background: #bd93f9;
}

#pulseaudio {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    color: #1A1826;
    background: #FAE3B0;
}

#clock {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    color: #161320;
    background: #ABE9B3;
}

#memory {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;

    transition: none;
    color: #161320;
    background: #DDB6F2;
}

#cpu {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;

    transition: none;
    color: #161320;
    background: #96CDFB;
}

#tray {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;

    transition: none;
    color: #B5E8E0;
    background: #161320;
}

#custom-launcher {
    font-size: 24px;
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 5px;

    transition: none;
    color: #89DCEB;
    background: #161320;
}

#custom-power {
    font-size: 20px;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;

    transition: none;
    color: #161320;
    background: #F28FAD;
}

#custom-wallpaper {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    color: #161320;
    background: #C9CBFF;
}

#custom-spotify {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    color: #161320;
    background: #F2CDCD;
}