[Unit]
Description=Kill brave browser to avoid having to restore session at next startup

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=killall brave
TimeoutSec=infinity

[Install]
WantedBy=default.target